<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Notas</title>
</head>
<body>
    <h2>Tabela de Dados</h2>
    <table border="1">
        <thead>
            <tr>
                {% for column in df.columns %}
                <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for index, row in df.iterrows() %}
            <tr>
                {% for column in df.columns %}
                <td>{{ row[column] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>